{% extends 'main/base.html' %}
{% load settings_value %}
{% load static %}
{% load i18n %}
{% block sub-title %}Добро пожаловать{% endblock %}

{% block style %}{% endblock %}

{% block content %}
    <div class="container">

      <div class="row">

        <div class="col s4">
          <div class="container">

            {% if resource.seat.persisted %}
              {#Если это постоянное место#}
              {% for c in calendar %}
                <div class="row booking-calendar">
                  <div class="col s2">{{ c.mil_hour }}:{{ c.minutes }}</div>
                  <div class="col s8 center name-cell booked">{{ resource.seat.owner.username }}</div>
                </div>
              {% endfor %}
            {% else %}
              {#Если обычный ресурс#}
              {% for c in calendar %}
                <div class="row booking-calendar">
                  <div class="col s2">{{ c.mil_hour }}:{{ c.minutes }}</div>
                  {% if c.reserved  %}
                    <div class="col s8 center name-cell booked">{{ c.user }}</div>
                  {% else %}
                    <div class="col s8 center name-cell free">&nbsp;</div>
                  {% endif %}
                </div>
              {% endfor %}
             {% endif %}



          </div>
        </div>

        <div class="col s8">
          <div class="container">

            <div class="row">
              <div class="col s6">Площадка:</div>
              <div id="id-div-area-name" class="col s6"> {{ user.def_area.name }}</div>
            </div>

            <div class="row">
              <div class="col s6">Ресурс: {{ resource.name }}  </div>
              <div class="col s6">{{ resource.type }}</div>
            </div>

            <div class="row">
              <div class="col s6">Процент брони: </div>
              <div class="col s6">{{ percent_of_booked_time }}</div>
            </div>

            <div class="row">
              <div class="col s12">&nbsp;</div>
            </div>

            {% if resource.seat.persisted %}

            <div class="row valign-wrapper">
              <div class="col s12">Постоянное место</div>
            </div>

            {% else %}

            <div class="row valign-wrapper">
              <div class="col s12">Параметры бронирования</div>
            </div>

            <div class="row valign-wrapper">
              <div class="input-field col s5">
                <input id="id-datepicker-start" type="text" class="datepicker">
                <label>Дата начала</label>
              </div>
              <div class="col s1"></div>
              <div class="input-field col s5">
                <input id="id-timepicker-start" type="text" class="timepicker" value="{% settings_value 'OPEN_TIME' %}">
                <label>Время начала</label>
              </div>
            </div>

            <div class="row valign-wrapper">
              <div class="input-field col s5">
                <input id="id-datepicker-end"  type="text" class="datepicker">
                <label>Дата окончания</label>
              </div>
              <div class="col s1"></div>
              <div class="input-field col s5">
                <input id="id-timepicker-end"  type="text" class="timepicker" value="{% settings_value 'CLOSE_TIME' %}">
                <label>Время окончания</label>
              </div>
            </div>

            {% if resource.type == 'room' %}
              <div class="row valign-wrapper">
                <div class="input-field col s12">
                  <input id="id-input-event"  type="text">
                  <label>Событие</label>
                </div>
              </div>

              <div class="row valign-wrapper">
                <div class="col s12">
                  <div class="input-field col s12" id="id-input-partisipants">
                    <select multiple>
                      <option value="" disabled selected>Выберите участников</option>
                      {% for u in users %}
                        <option value="{{ u.id }}">{{ u.first_name }} {{ u.middle_name }} {{ u.last_name }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
              </div>

            {% endif %}

            <div class="row">
              <div class="col s12">&nbsp;</div>
            </div>

            <div class="row">
              <div class="col s12"><a id="id-button-booking" class="waves-effect waves-light btn progress">Забронировать</a></div>
            </div>

            {% endif %}

          </div>
        </div>

      </div>

    </div>
{% endblock %}

{% block extrajs %}
  <script>
    let flag = false
    $(document).ready(function() {

      $("#id-button-booking").on('click', function(e){
        let data = {
          "user_id": helper.user_id,
          "resource_id":{{ resource.id }},
          "date_start": $("#id-datepicker-start").val(),
          "time_start": $("#id-timepicker-start").val(),
          "date_end": $("#id-datepicker-end").val(),
          "time_end": $("#id-timepicker-end").val(),
          "event": $("#id-input-event").val()
        }
        request({url:'/api/booking', type:'POST', data:data, ondone:onBookingSuccess})
      })

      flag = true
    });

    function onBookingSuccess(response){
      window.location.reload()
    }

    function onChangeDatepickerTarget(e){
      let url = "/main/booking/{{ resource.id }}/" + helper.target_date
      if (flag){
        window.location.href = url;
      }

    }

  </script>
{% endblock %}
