{% extends 'main/base.html' %}
{% load static %}
{% load i18n %}
{% block sub-title %}Добро пожаловать{% endblock %}

{% block style %}{% endblock %}

{% block content %}
    <div class="container">


      <div class="row">

        <div class="col s3">Площадка:</div>
        <div id="id-div-area-name" class="col s9"></div>
      </div>


      <div class="row">

        <div class="col s3">Места:</div>

        <div class="col s9">
          <div id="id-div-seats"></div>
        </div>

      </div>


      <div class="row">

        <div class="col s3">Переговорные комнаты:</div>

        <div class="col s9">
          <div id="id-div-rooms"></div>
        </div>

      </div>

      <div class="row">
        <div class="col s12">
          <div id="id-div-map-container"></div>
        </div>
      </div>

    </div>
{% endblock %}

{% block extrajs %}
  <script>
    $(document).ready(function() {
      //includeHTML(setMapHandlers);

      request('/api/area/' + helper["user_default_area_id"], 'GET', fillPage)

    });

    function fillPage(response){
      let result = response.result
      let area_name = result.name
      let area_map = result.map_url
      let rooms = result.resources.rooms
      let seats = result.resources.seats
      $("#id-div-area-name").text(area_name)
      $("#id-div-seats").text(seats.length)
      $("#id-div-rooms").text(rooms.length)
      $("#id-div-map-container").html('<div w3-include-html="' + area_map + '"></div>')
      includeHTML(getResource);
    }

    function setMapHandlers(){
      $( "g[id^='table-']" ).on('click', function (e){
        //if(e.currentTarget.classList.contains('booked')){
        //  let date = $('#date-picker')[0].value
          let seatId = $(e.currentTarget).data()["id"]
        //  url = `/orb/ajax/get_seat_info/${roomId}/${seatNumber}/${date}`
          //let url = '/api/user'
          //request(url, 'GET', function(d){log(d)});
        //}
        window.location.href = '/main/booking/' + seatId;
      })
    }

    function getResource(){
      request('/api/area/' + helper["user_default_area_id"], 'GET', paintSeats)
      setMapHandlers()
    }


    function onChangeDatepickerTarget(e){
      let url = "/api/area/" + helper.user_default_area_id + "/" + helper.target_date
      request({url: url, type:'GET', ondone:paintSeats})
    }

  </script>
{% endblock %}
