{% extends 'main/base.html' %}
{% load static %}
{% load i18n %}
{% block sub-title %}Добро пожаловать{% endblock %}

{% block style %}{% endblock %}

{% block content %}
    <div class="container">


      <div class="row">

        <div class="col s3">Площадка:</div>
        <div class="col s9">{{ area.name }}</div>

      </div>


      <div class="row">

        <div class="col s3">Места:</div>

        <div class="col s9">
              {% for s in seats %}
                {{ s.name }};&nbsp;
              {% endfor %}
        </div>

      </div>


      <div class="row">

        <div class="col s3">Переговорные комнаты:</div>

        <div class="col s9">
              {% for r in rooms %}
                {{ r.name }} ({{ r.seats }});&nbsp;
              {% endfor %}
        </div>

      </div>

      <div id="row-map-container" class="row">
        <div id="map-container" class="col s12">
          <div w3-include-html="{{ area.map_url }}"></div>
        </div>
      </div>

    </div>



{% endblock %}

{% block floating_content %}{% endblock %}

{% block extrajs %}
  <script>
    $(document).ready(function() {
      includeHTML(setMapHandlers);
    });

    function setMapHandlers(){
      $( "g[id^='table-']" ).on('click', function (e){
        //if(e.currentTarget.classList.contains('booked')){
        //  let date = $('#date-picker')[0].value
          let seatNumber = e.currentTarget.id.split('-')[1]
        //  url = `/orb/ajax/get_seat_info/${roomId}/${seatNumber}/${date}`
          let url = '/api/user'
          ajget(url, 'GET', function(d){log(d)});
        //}

      })
    }

  </script>
{% endblock %}
