{% extends 'main/base.html' %}
{% load settings_value %}
{% load static %}
{% load i18n %}
{% block sub-title %}Добро пожаловать{% endblock %}

{% block style %}{% endblock %}

{% block content %}
    <div id="id-container-profile" class="container">

      <div class="row">
        <div class="col s3">ФИО:</div>
        <div class="col s3">{{ user.last_name }} {{ user.first_name }} {{ user.middle_name }}</div>
      </div>

      <div class="row">
        <div class="col s3">Email:</div>
        <div class="col s3">{{ user.email }}</div>
      </div>

      <div class="row">
        <div class="col s3">Компания:</div>
        <div class="col s3">{{ user.company.name }}</div>
      </div>

      <div class="row">
        <div class="col s12"><h6>Бронирования</h6></div>
      </div>

      {% for b in booking %}
      <div class="row">
        <div class="col s1">{{ b.resource.name }}</div>
        <div class="col s2">{{ b.resource.type }}</div>
        <div class="col s3">{{ b.start_ts }}</div>
        <div class="col s3">{{ b.end_ts }}</div>
        <div class="col s1">{{ b.confirmation_pin }}</div>
        <div class="col s1"><div id="id-delete-{{ b.id }}" data-id="{{ b.id }}" class="booking-delete-button" href=""><i class="material-icons right">delete</i></div></div>
      </div>

      {% endfor %}

    </div>
{% endblock %}

{% block extrajs %}
  <script>
    let flag = false
    $(document).ready(function() {

      $('.datepicker').datepicker({
        format: 'yyyy-mm-dd',
        defaultDate: new Date("{{ target_date }}",),
        setDefaultDate: true,
      });

      $("#id-button-booking").on('click', function(e){

      })

      $(".booking-delete-button").on('click', function(e){
          request({url:'/api/booking/' + $(e.currentTarget).data('id'), type:'DELETE', data:{}, ondone:onBookingDeleteSuccess})
      })

      flag = true
    });


    function onChangeDatepickerTarget(e){
      //let url = "/main/booking/{{ resource.id }}/" + helper.target_date
      //if (flag){
      //  window.location.href = url;
      //}

    }

    function onBookingDeleteSuccess(response){
      window.location.reload();
    }

  </script>
{% endblock %}
