{% extends 'staff/base.html' %}
{% load settings_value %}
{% load static %}
{% load i18n %}
{% block sub-title %}Обзор{% endblock %}

{% block content %}
    <div id="new-users" class="container">
        <h5><b>Обзор</b></h5>
    
        <div class="row">
            <div class="col s12"><h5>Запросы:</h5></div>
            <p>{{tasks.count}} шт.</p>
        </div>

        <div class="row">
            <div class="col s12">
                <table>
                    <thead>
                        <tr>
                            <th>Время создания</th>
                            <th>Площадка</th>
                            <th>Место</th>
                            <th>Сообщение</th>
                            <th>Актуальность</th>
                            <th></th>
                        </tr>
                    </thead>
    
                    <tbody>
                        {% for t in tasks %}
                            <tr>
                                <td>{{ t.created_at }}</td>
                                <td>{{ t.resource.area.name }}</td>
                                <td>{{ t.resource.name }}</td>
                                <td>{{ t.message }}</td>
                                <td>{{ t.is_active|yesno:"Активно,Неактивно" }}</td>
                                <td><div id="id-delete-task-{{ t.id }}" data-id="{{ t.id }}" class="task-delete-button" href=""><i class="material-icons right trash">delete</i></div></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        

        <div class="row">
            <div class="col s12"><h5>Бронирования на сегодня ({{today}}):</h5></div>
            <p>{{bookings.count}} шт.</p>
        </div>

        <div class="row">
            <div class="col s12">
                <table>
                    <thead>
                        <tr>
                            <th>Площадка</th>
                            <th>Место</th>
                            <th>Имя пользователя</th>
                            <th>Логин</th>
                            <th>Время начала</th>
                            <th>Время окончания</th>
                            <th>Присутствие</th>
                            <th></th>
                        </tr>
                    </thead>
    
                    <tbody>
                        {% for b in bookings %}
                            <tr>
                                <td>{{ b.resource.area.name }}</td>
                                <td>{{ b.resource.name }}</td>
                                <td>{{ b.user.first_name }} {{ b.user.last_name }}</td>
                                <td>{{ b.user }}</td>
                                <td>{{ b.start_ts }}</td>
                                <td>{{ b.end_ts }}</td>
                                <td>{{ b.is_confirmed | yesno:"Да, Нет" }}</td>
                                <td><div id="id-delete-{{ b.id }}" data-id="{{ b.id }}" class="booking-delete-button" href=""><i class="material-icons right trash">delete</i></div></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <p><a class="atmo-link" data="/staff/bookings">Все бронирования</a></p>
        </div>

    </div>
{% endblock %}


{% block extrajs %}
<script>
    let flag = false
    $(document).ready(function() {

      $(".booking-delete-button").on('click', function(e){
          var confirm_booking = confirm("Вы уверены, что хотите отменить бронирование?");
          if (confirm_booking) {
              request({url:'/api/booking/' + $(e.currentTarget).data('id'), type:'DELETE', data:{}, ondone:onDeleteSuccess});
            }
      })

      $(".task-delete-button").on('click', function(e){
          var confirm_task = confirm("Вы уверены, что хотите удалить запрос?");
          if (confirm_task) {
            request({url:'/api/task/' + $(e.currentTarget).data('id'), type:'DELETE', data:{}, ondone:onDeleteSuccess})
          }
      })

      flag = true
    });

    function onChangeDatepickerTarget(e){
    }

    function onDeleteSuccess(response){
      window.location.reload();
    }

</script>
{% endblock %}