{% extends 'staff/base.html' %}
{% load static %}
{% load i18n %}
{% load settings_value %}
{% block sub-title %}Пользователи{% endblock %}

{% block content %}
    <div class="container">
        <h5>Тестирование отправки почты</h5>

        <div class="row">
          <div class="col s12">Настройки:</div>
        </div>

        <div class="row">
          <div class="col s3">Хост:</div>
          <div class="col s3">{% settings_value 'SMTP_HOST' %}</div>
        </div>

        <div class="row">
          <div class="col s3">Порт:</div>
          <div class="col s3">{% settings_value 'SMTP_PORT' %}</div>
        </div>

        <div class="row">
          <div class="col s3">Отправитель:</div>
          <div class="col s3" id="id-sender">{% settings_value 'SMTP_SENDER' %}</div>
        </div>

        <div class="row">
          <div class="input-field col s6">
            <input id="id-email" type="email" class="validate">
            <label for="id-email">Email</label>
          </div>
        </div>

        <div class="row">
          <div class="col s6"><a id="id-button" href="#" class="btn pulse">Отправить тестовое письмо</a></div>
        </div>
    </div>
      
{% endblock %}

{% block extrajs %}
  <script>
    $(document).ready(function() {


      $("#id-sender").on('click', function (e){
        $("#id-email").val($("#id-sender").text())
      });


      $("#id-button").on('click', function (e){
        request({
          url:'/api/smtp/test/' + $("#id-email").val(),
          type: "GET",
          ondone: function(data){
            M.toast({html:"Отправка прошла успешно."})
          },
          dataType: "json"
        })
      })

    });

  </script>

{% endblock %}